<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

<body class="welcome-page">
    <div class="d-flex justify-content-center">
        <a class="welcome display-1" href="/login">Welcome to the HUB</a>
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-outline-light start-here" href="/login">start here</a>
    </div>
</body>
